variables:
  PIPELINE_RUNNER: darkwind8/pipeline_images:v1.0-docker-20.10.12-kubectl-v1.24.2-helm-v3.9.0
  terraform_image: registry.gitlab.com/gitlab-org/terraform-images/stable:latest

stages:
  - testing
  - terraform-prod
  - deploy-prod

testing:
  image: ${PIPELINE_RUNNER}
  stage: testing
  script:
    - echo 12345678

terraform_prod:
  image: ${terraform_image}
  stage: terraform-prod
  script:
    - cd terraform/cluster
    - gitlab-terraform init
    - gitlab-terraform plan
    - gitlab-terraform plan-json
    - gitlab-terraform apply
  rules:
    - when: manual
  variables:
    TF_ADDRESS: ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/terraform/state/cluster
    TV_VAR_do_token: $do_token

prod_init_kube:
  image: ${PIPELINE_RUNNER}
  stage: deploy-prod
  script:
    - mkdir ~/.kube
    - echo "${kubectl_config}" > ~/.kube/config
    - cd ansible
    - python3 install_cluster.py
  rules:
    - when: manual
  needs:
    - terraform_prod